@font-face {
    font-family: 'Inter_normal';
    src: url('../../shared/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter_Italic';
    src: url('../../shared/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-display: swap;
}
